@use './../../../variables/variables.scss';

.filterFind {
    grid-area: dataPicker;
    @include variables.main_block_style;

    height: 100%;

    form {
        display: grid;
        gap: 20px;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0;
            /* <-- Apparently some margin are still there even though it's hidden */
        }

        input[type=number] {
            -moz-appearance: textfield;
            /* Firefox */
        }

        .dataField {
            @include variables.main_field;
        }

        button {
            @include variables.main_button_style
        }

        .errors {
            @include variables.errors
        }
    }
}