@use './../../variables/variables.scss';


.article {
    display: grid;
    grid-template-areas: 'header header'
        'dataPicker checkHotel'
        'favourites checkHotel';
    padding: 0 10%;
    grid-template-columns: auto auto;
    grid-template-rows: max-content max-content;
    gap: 24px;
    max-height: 902px;
}

@media (max-width:1024px) {
    .article {
        padding: 32px;
    }
}

@media (max-width:920px) {
    .article {
        grid-template-areas: 'header header'
            'dataPicker favourites'
            'checkHotel checkHotel';
        grid-template-columns: auto auto;
        grid-template-rows: max-content max-content auto;
    }

}

@media (max-width:620px) {
    .article {
        margin: 30px 0 30px 0   ;
        grid-template-areas: 'header header'
            'dataPicker  dataPicker '
            'favourites favourites'
            'checkHotel checkHotel';
        grid-template-columns: auto;
        grid-template-rows: max-content max-content auto;
    }

}