@use './../../variables/variables.scss';

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing:border-box;
    padding:0 32px;
    .exit{
        display: flex;
        justify-content: space-around;
        cursor: pointer;
        align-items: center;
        gap: 10px;
    }
    svg{
        font-size: 24px;
    }
    h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
}