@use './../../../variables/variables.scss';

.hotelItem {
    margin-top: 15px;
    padding-bottom: 15px;
    max-width: 100%;

    .nameHotel {
        display: grid;
        justify-content: space-between;
        font-size: 17px;
        grid-template-columns: auto auto;
        width: 100%;

        svg {
            font-size: 21px;
        }

        svg:hover {
            color: #EBEBEB;
        }

        .active {
            color: #E55858;
        }
    }

    .dataTime {
        display: flex;
        gap: 14px;

        justify-items: space-between;
        font-size: 14px;
        color: #878787;
    }

    .ratingPrice {
        display: flex;
        margin-top: 10px;
        gap: 14px;
        justify-content: space-between;
        align-items: center;

        .rating {
            height: 19px;

            svg {
                font-size: 19px;
            }
        }



        p {
            font-size: 11px;
            color: #878787;

            span {
                margin-left: 8px;
                font-size: 17px;
                color: #424242;
            }
        }
    }
}