@use './../../../variables/variables.scss';

.checkHotel {
    @include variables.main_block_style;
    padding: 48px 32px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    min-width: 580px;
    overflow: hidden;
    grid-area: checkHotel;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;

        .breadCrumbs {
            vertical-align: middle;
            display: flex;
            align-items: center;

            gap: 20px;

            h1 {
                font-size: 32px;
            }

            svg {
                color: #A7A7A7;
                vertical-align: middle;
            }
        }

    }

    .slider {
        display: flex;
        margin-top: 28px;
        gap: 12px;
        overflow-x: auto;

        img {
            min-width: 164px !important;
            height: 149px;
            left: 32px;
            top: 114px;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
        }
    }

    .slider::-webkit-scrollbar {
        width: 0;
    }

    .slider {
        -ms-overflow-style: none;
    }

    .mainContainer {

        height: 550px;

        >P {
            margin: 20px 0px;
        }

        .hotelItems {
            height: 100%;
            overflow-y: scroll;

            .item {
                display: grid;
                grid-template-columns: max-content auto;
                align-items: center;

                >svg {
                    font-size: 32px;
                    padding: 19px;
                    border-radius: 50%;
                    background-color: rgba(65, 82, 46, 0.05);
                    margin-right: 24px;
                }
            }
        }

        .hotelItems::-webkit-scrollbar {
            width: 0;
        }

        .hotelItems {
            -ms-overflow-style: none;
        }

    }

}


@media (max-width:620px) {
    .checkHotel {
        min-width: 200px;

        .breadCrumbs {
            display: inline !important;

            :nth-child(1) {
                display: none;
            }

            :nth-child(2) {
                display: none;
            }
        }
    }
}

@media (max-width:620px) {
    .header {
        display: grid !important;
    }
}
@media (max-width:550px) {
    .item {
        grid-template-columns: auto !important;

        >svg {
            font-size: 15px !important;
            padding: 10px !important;
            margin-right: 0;
        }
    }
}